.preview {
  margin-top: 10px;
  margin-bottom: 0px;
}
.uploadbtn {
  border: 0px;
  background: none;
  color: black;
  font-size: 14px;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formWrap {
  overflow: auto;
  height: 100%;
  width: 100%;
}
