.preview {
  margin-top: 10px;
  margin-bottom: 0px;
}
.uploadbtn {
  border: 0px;
  background: none;
  color: black;
  font-size: 14px;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formWrap {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.publishquill {
  padding-bottom: 30px;
  height: 400px;
  .ql-container {
    min-height: 200px; /* 设置最小高度 */
  }
  .ql-editor {
    height: 90%; /* 设置编辑器内容区域的高度 */
  }
}
