.tableWrap {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.addbtn {
  float: right;
}
.cardtype {
  width: 32%;
  height: 300px;
  overflow: hidden;
  flex-shrink: 1;
}
.covertype {
  width: 215px;
  height: 215px;
}
