.outsideWrap {
  overflow: auto;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardWrap {
  overflow: auto;
  width: 100%;
}
.quizentrance {
  background-color: #4096ff9c;
}
.coverCon {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

.descriptionCard {
  margin-bottom: 30px;
}
