.tableWrap {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
}
.addbtn {
  float: right;
}
.cardtype {
  width: 320px;
  height: 300px;
  overflow: hidden;
  flex-shrink: 1;
}
.covertype {
  width: 215px;
  height: 215px;
}

.optionlist {
  padding-top: 8px;
}

.freetext {
  width: 600px;
}
