.outsideWrap {
  overflow: auto;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardWrap {
  overflow: auto;
  width: 100%;
  margin-bottom: 30px;
}
.quizentrance {
  background-color: #4096ff9c;
  margin-bottom: 20px;
}
.finishBtn{
  width: 100%;
}
